<nav class="navbar" [class.scrolled]="scrolled || simple" [class.simple-nav]="simple">
  <div class="logo">
    <img src="assets/icons/logo.png" alt="The Sneh Moments Logo">
    <span>The Sneh Moments</span>
  </div>

  <ng-container *ngIf="!simple; else simpleLinks">
    <div class="hamburger" (click)="toggleMenu()">
      <i class="fas fa-bars"></i>
    </div>
    <ul class="nav-links" [class.active]="menuOpen">
      <li><a routerLink="/" fragment="home" (click)="closeMenu()">Home</a></li>
      <li><a routerLink="/" fragment="about" (click)="closeMenu()">About</a></li>
      <li><a routerLink="/" fragment="gallery" (click)="closeMenu()">Gallery</a></li>
      <li><a routerLink="/query" class="btn btn-primary" (click)="closeMenu()">Book Consultation</a></li>
    </ul>
  </ng-container>

  <ng-template #simpleLinks>
    <ul class="nav-links">
      <li><a routerLink="/">Back to Home</a></li>
    </ul>
  </ng-template>
</nav>
